[defaults]
inventory = ansible/inventory.ini
roles_path = ansible/roles:../github-org-cloud-neutral-toolkit/ansible/roles
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
forks = 1
timeout = 30

[ssh_connection]
pipelining = True
transfer_method = piped
ssh_args = -o ControlMaster=no -o ControlPersist=no -o ServerAliveInterval=15 -o ServerAliveCountMax=3 -o IPQoS=none
